<!--
{
    _id: '',
    heading: '',
    description: ''
    url: '',
    img_url: '',
    comments: [
        {
            _id: '',
            text: '',
            date: Date
        },
        {
            _id: '',
            text: '',
            date: Date
        }
    ]
}
-->

<div>
    <a href="/">< Back</a>
    <br><br>
</div>

<h4>
    <a href="https://www.newyorker.com{{url}}">{{heading}}</a>
</h4>

<p>
    <img src="{{img_url}}">
    <br><br>
    {{description}}
</p>
<p class="date">{{date}}</p>

<hr>
<form class="form" action="/articles/{{_id}}/comments" method="POST">
    <div class="form-group">
        <label for="newComment">Add new comment:</label>
        <textarea name="text" id="newComment" class="form-control" required></textarea>
    </div>
    <input type="submit" value="Comment" class="btn btn-primary">
</form>

<br>
<h4>{{comments.length}} Comments</h4>
{{#each comments}}
    <div class="comment">
        <p class="date">{{date}}</p>
        <button class="btn btn-danger" style="float: right" onclick="deleteComment('{{../_id}}', '{{_id}}')">Delete</button>
        <p>{{text}}</p>
    </div>
{{/each}}